<div class="hero-unit">

	<h1>One Month Rails!</h1>
	<p>This is a first shot at the one month rails course</p>
	<p>
		<a href="#">Sign up</a>
		<%= link_to"One month rails", "http://onemonthrails.com" %>
	</p>
	<%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-primary btn-large" %>

</div>